main {
    width: 720px;
    margin: 0 auto;
    font-family: "Helvetica Neue", "Arial", sans-serif;
}

.form-section {
    padding-top: 2em;
    padding-bottom: 2em;
}

ul {
    list-style: none;
    display: flex;
    flex-flow: column;
    gap: 0.5rem;
    margin: 0;
    padding: 0;
}

#activity-list {
    font-size: 2rem;
    line-height: 1.5;
}

#activity-list .remove-link {
    font-size: 1rem;
}

.bail-out {
    display: flex;
}

.bail-out button {
    margin: 0 auto;
}
