:root {
    --bright-gray: #EEEEEE;
    --chinese-silver: #CCCCCC;
    --spanish-gray: #999999;
    --granite-gray: #666666;
    --dark-charcoal: #333333;
    --black: #000000;
    --blue-saphire: #19647E;
    --paradise-ping: #EF476F;
    --caribbean-green: #06D6A0;
    --imperial-red: #F02D3A;
    --forest-green: #228B22;
    --light-slate-gray: #778899;
}

body {
    background-color: var(--bright-gray);
    color: var(--dark-charcoal);
}

main {
    width: 800px;
    margin: 0 auto;
    font-family: "Helvetica Neue", "Arial", sans-serif;
}

a {
    text-decoration: none;
    color: var(--blue-saphire);
}

.form-section {
    padding-bottom: 2em;
}

ul {
    list-style: none;
    display: flex;
    flex-flow: column;
    gap: 1rem;
    margin: 0;
    padding: 0;
}

#activity-list {
    font-size: 3rem;
    font-weight: bold;
    line-height: 1.2;
}

#activity-list li:nth-child(2n) {
    margin-left: 1.6rem;
}

#activity-list li:first-child {
    color: var(--paradise-ping);
}

#activity-list li:nth-child(3n) {
    color: var(--caribbean-green);
}

#activity-list li:nth-child(4n) {
    color: var(--imperial-red);
}

#activity-list li:nth-child(5n) {
    color: var(--forest-green);
}

#activity-list .remove-link {
    font-size: 1rem;
    font-weight: normal;
}

.add-activity a {
    font-size: 2rem;
    color: var(--dark-charcoal);
}

form {
    display: none;
}

.options form {
    display: flex;
}

.bail-out {
    display: none;
}

.bail-out button {
    margin: 0 auto;
}
